<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brainrot World</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/brainrot.css') }}"
    />
  </head>
  <body>
    <div class="overlay">
      <h1 class="glitch" data-text="Welcome to Brainrot!">
        Welcome to oo ee a e a!
      </h1>
    </div>
    <video class="video-bg" autoplay loop playsinline>
      <source
        src="https://res.cloudinary.com/dg0u5ptwr/video/upload/v1736789388/djhxdc3xp1fd4hni2cqg.mp4"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
  </body>
</html>
